/*Common CSS start*/
body{
	margin: 0;
	padding: 0;
}
/*Common CSS end*/

/*header start*/
header{
	
    padding: 5px 0;
    border-bottom: 3px solid #EEF0F3;
}
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	/*border: 1px solid black;*/

}
.logo{
	width: 8%;
	/*border: 1px solid black;*/
	float:left;
}
.logo img{
	width:100%;
}
.menu{
	margin-top:3px;
	width:51%;
	/*border: 1px solid black;*/
	float:right;
}
.menu ul{
	float:right;
}
.menu ul li{

	list-style: none;
	float:left;
}
.menu ul li a{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400px;
	color: #0F2656;
    margin: 0px 21px;
    display: inline-block;
    text-decoration: none;
}
.menu ul li:last-child a{
	margin-right: 0px;
}
/*header end*/

/*banner start*/

.banner{
	padding: 66px 0;
}
.container2{
	margin:0 auto;
	width:60%;
	/*border:1px solid black;*/
}
.b_content{
	font-family: sans-serif;
	text-align: center;
}
.b_content h1{
	margin: 0;
	font-size: 45px;
	font-weight: 400px;
	color: #0F2656;
	font-size: 45px;
}
.b_content h2{
	margin: 15px 0;
	color: #008AFF;
	font-size: 45px;
	
}
.b_content p{
	margin-bottom: 18px;
    font-weight: 16px;
    color: #0F2656;
    font-size: 16px;
    word-spacing: 3px;
    letter-spacing: 0px;
    line-height: 24px;
}
.b_image{
	/*border: 1px solid black;*/
	width: 75%;
	margin: 0 auto;
}
.b_image img{
	width: 100%;
}

/*banner end*/

/*successful start*/

.sful{
	padding: 25px 0;
	/*border: 1px solid black;*/
}

.sitems{
	overflow: hidden;
	font-family: sans-serif;

}
.s_right{
	width: 44%;
	/*border: 1px solid black;*/
	float: right;
}
.s_right h2{
	font-size: 46px;
    font-weight: 700;
    color: #0F2656;
    margin: 0;
    padding: 0 0px;
}
.s_left{
	width: 47%;
	/*border: 1px solid black;*/
	float: left;
	overflow: hidden;
	text-align: right;
}
.s_left h2{
	margin: 0;
    font-size: 51px;
    color: #F15767;
}
.s_left p{
	font-weight: 400;
    color: #0F2656;
    font-size: 16px;
    margin: 10px 0px 0px 0;
    line-height: 21px;
    word-spacing: 4px;
    letter-spacing: 0px;
}

/*successful start*/

/*feature start*/

.feature{
	    padding: 40px 0;
	/*border: 1px solid black;*/
}
.f_content{
	/*border: 1px solid black;*/
	overflow: hidden;
}
.f_single{
	margin-left: 28px;
	padding: 52px 25px;
	font-family: sans-serif;
	width: 26%;
	/*border: 1px solid black;*/
	float: left;
}

.clr{
	background-color: #FDEBED;
}
.clr2{
background-color: #EBF9F4;
}
.clr3{
background-color: #FFF7E8;
}
.f_single h2{
	font-weight: 700;
	color: #0F2656;
}
.f_single p{
	font-weight: 400;
	color: #0F2656;
}
.f_img{}
.f_img img{
	width:100%;
}

/*feature start*/

/*footer start*/

.footer{
	margin-top: 15px;
	padding: 10px 0;
	background-color: #008AFF;
	text-align: center;
}
.footc{}
.footc p{
	color: #9ED2FF;
}
.footc p span{
	color: #FFFFFF;
	text-transform: uppercase;
}


/*footer end*/
